table{
  /* 크기 및 정렬 */
  width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  /* 테두리 */
  /* border-top: 1px solid #000; */
  border-collapse: collapse;
  /* 색상 */
  color: #fff;
  font-weight: 400;
  /* background-color: rgba(255, 255, 255, 0.253); */
}

td{
  border-bottom: 1px solid rgb(255, 255, 255);
}

th{
  font-size:20px;
  height: 50px;
  vertical-align: middle;
  background-color: #24284b;
  color: #fff;
}

td{
  height: 50px;
  padding: 5px;
}