.LeftListG {
  //float: left;
  position: relative;
  //margin-left: 3%;
  margin-right: 10%;
  //flex-direction: row;
  //flex: 1;
  width: 100%;
  margin-top: 10%;
  //align-items: flex-start;
}
// .LeftMakeSlider{
//     //position: relative;
//     //position: relative;
//     // margin-right: 10%;
//     // margin-left: 10rem;
//     //flex-direction: row;
//    // flex: 1;

//    //align-items: flex-start;

// }
// .LeftLayout{
//     //display: flex;
//     //flex-Direction: 'row';
//     //align-items: flex-start;
//    // display:flex;
// }
