.top2 {
  color: white;

  font-size: 1.5rem;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5rem;
  background-color: rgb(16, 15, 19);
  width: 80%;
  height: 30rem;
}
.topheader2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(32, 31, 32, 0.822);
  height: 5rem;
}
.topheadertitle2 {
  margin-left: 1rem;
}
