.top1 {
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(44, 40, 66);
  width: 90rem;
  height: 30rem;
}
.topheader1 {
  margin-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(102, 100, 114, 0.822);
}

.topcontainer1_imgs {
  float: left;
  width: 100%;

  background-color: rgba(62, 61, 65, 0.411);
}
.Img1,
.Img2,
.Img3,
.Img4,
.Img5 {
  width: 18.85%;
  margin: 0.5rem;
  float: left;
}

.cimg1,
.cimg2,
.cimg3,
.cimg4,
.cimg5 {
  width: 100%;
}
.Img1intro,
.Img2intro,
.Img3intro,
.Img4intro,
.Img5intro {
}
.Img1intro1,
.Img2intro1,
.Img3intro1,
.Img4intro1,
.Img5intro1 {
  font-size: 1rem;
  margin-top: -1rem;
}
/*
.Img2 {
  width: 20%;
   float: left;
}
.Img3 {
  width: 20%;
  float: left;
}
.Img4 {
  width: 20%;
  float: left;
}
.Img4 {
  width: 20%;
  float: left;
}
.Img5 {
  width: 20%;
   float: left;
}
*/
