.right_ImageDescription{
  /* 크기, 컬러 */
  width: 300px;
  height: 520px;
  background-color: #24284b;
  color: #fff;
  /* 포지션 */
  display:inline-block;
  position: relative;
  top: -185px;
  margin-left: 30px;
  /* 테두리 */
  box-sizing: content-box;
  border: 1px solid azure;
  border-top: none;
}

/* 설명란 */
.rightDescription{
  padding: 15px;
  padding-top: 50px;
  text-align: center;
  text-align: left;
}

.buyButton {
  /* 크기 및 색상 */
  background-color: #fdd835;
  padding: 10px;
  width: 180px;
  height: 50px;
  /* 위치 */
  position: relative;
  top : 50px;
  left: 15px;
  /* 테두리 */
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}

.buyButton:hover{
  opacity: 0.6;
}

.buttonText{
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.DownloadButton{
  /* 크기 및 색상 */
  background-color: rgb(0, 0, 255);
  width: 50px;
  height: 50px;
  /* 위치 */
  position: relative;
  left: 25px;
  top: 50px;
  /* 테두리 */
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}
.DownloadButton:hover{
  opacity: 0.6;
  /* background-color: rgb(78, 78, 236); */
}
.gameDownload{
  font-size: 20px;
}