.LeftList {
  color: black;
  float: left;
  background-color: rgb(157, 170, 189);
  width: 16rem;
  height: 20rem;
  text-align: center;
  margin-top: 1rem;
  margin-right: 3rem;
  margin-left: 1rem;

  
}
