.ListItems {
  color: black;
  font-size: 1rem;
  width: 107%;
  height: 90%;
  margin-top: 1rem;
 margin-right: 1rem;
  //margin-left: 1rem;
  text-align: left;
  border-color: azure;
    
  background-color: rgb(24, 23, 23);
  //지우셈


}
.Text1,.Text2,.Text3,.Text4,.Text5,.Text6{
  margin-bottom: 0.3rem;
}
