.Imgset {
  width: 100%;
  height: 100%;
  // position: absolute;
  //overflow: hidden;
}

.img1intro,
.img2intro,
.img3intro,
.img4intro,
.img5intro {
  color: white;

  background-color: #2c2727;

  font-family: Brutal, sans-serif;

  //  margin-top: -2rem;
  //padding-top: -2rem;
  //  width: 80%;
}

.img1introduce,
.img2introduce,
.img3introduce,
.img4introduce,
.img5introduce {
  color: white;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  margin-left: 2rem;
  font-size: 2rem;
  //margin-top: -2rem;

  //  margin-top: -2rem;

  // margin-top: -2rem;
}
