.Linktext {
  color: white;
  margin: 1rem;
}
.app-title {
  margin: 1rem;
  font-size: 2rem;
}
.todoTemplate {
  //전체적인그거
  color: white;
  font-size: 1.5rem;
  text-align: left;
  //padding-top: 30px;
  //padding-left: 2rem;
  background-color: rgb(14, 63, 128);
  //height: 4rem;
  overflow: hidden;
  display: flex;
  // justify-content: center;
}
