.TopMenu {
  background-color: rgb(14, 18, 41);
  color: white;
  text-align: right;
  
  
}
.menu-item {
  display: inline-block;
  cursor: pointer;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
