.TopMenu {
  background-color: rgb(25, 33, 80);
  color: white;
  text-align: right;
}
.menu-item {
  display: inline-block;
  cursor: pointer;
  line-height: 1rem;
  font-size: 1rem;
  padding-left: 1rem;
}
